.about-page {
  padding: 20px;

  .about {
    @include flexbox(center, center, row, 20px);
    width: 100%;
    padding-top: 12rem;

    @include query(max, tablet) {
      @include flexbox(center, center, column, 20px);
      padding-top: 6rem;
    }
  }

  .other {
    @include flexbox(initial, initial, column, 60px);
    margin-top: 14rem;

    @include query(max, tablet) {
      margin-top: 4rem;
      gap: 40px;
    }

    &__container {
      @include flexbox(initial, initial, column, 20px);
    }

    &__title {
      font-size: clamp(1.5rem, 4vw, 2rem);
      font-variant: small-caps;
    }

    &__descr {
      color: $main-color-dark;
      font-size: clamp(1rem, 4vw, 1.5rem);
    }
  }
}
