.authors-name {
  display: block;
  border: 2px solid $main-color;
  border-radius: $border-radius;
  padding: 8px;
  color: $main-color;
  transition: 0.4s;
  opacity: 0.6;
  font-variant: small-caps;

  &:hover {
    opacity: 1;
  }
}

.chernyshev-img,
.holmov-img {
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

.book-store-quote {
  transition: 0.4s;
  cursor: pointer;
  background: rgba(100, 111, 110, 0.1);
  border-radius: $border-radius;

  &:hover {
    opacity: 0.6;
  }
}
