.footer {
  @include flexbox(flex-start, center, row, 20px);
  margin: auto auto 20px 20px;

  &__copyright {
    text-transform: lowercase;

    a {
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.4;
      }
    }
  }

  &__icon {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
