@import '../../assets/styles/mixins/flexbox.scss';

.footer {
  @include flexbox(flex-start, center, row, 20px);
  margin: auto auto 20px 20px;

  &__copyright {
    text-transform: lowercase;
  }

  &__icon {
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      opacity: 0.6;
    }
  }
}
