@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

// Animation
@import './animationGlitch.scss';

// Components
@import '../../components/Navbar/Navbar.scss';
@import '../../components/Footer/Footer.scss';
@import '../../components/BooksStories/BooksStories.scss';
@import '../../components/BooksStories/modules/Book.scss';


// Pages
@import '../../pages/BookAuthors/BookAuthors.scss';
@import '../../pages/LibAuthors/LibAuthors';
@import '../../pages/About/About.scss';

// Mixins
@import './mixins/flexbox';
@import './mixins/placeholder';
@import './mixins/query';

@font-face {
  font-family: Roboto;
  src: url('../../roboto/Roboto-Light.ttf');
}

* {
  &::-webkit-scrollbar {
    width: 4px;
    border-radius: $border-radius;
    background: $main-color;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: $border-radius;
    background: rgb(79, 86, 82);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(20, 20, 20);

  color: $main-color;
  text-transform: lowercase;
}

.app {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 100%;

  background-size: cover;
  background-position: center;
}

#root {
  height: 100%;
}

.home-page {
  height: 100vh;
}

.about {
  span {
    font-variant: small-caps;
  }
}

hr {
  background: $main-color;
  height: 2px;
  border-radius: $border-radius;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.fade {
  transition: 0.4s;
  opacity: 0;
}

.active-scale {
  transform: scale(1.04);
  background: rgba(58, 63, 59, 0.7);
  box-shadow: none !important;
}

.active {
  color: rgba(0, 0, 0, 0.8);
}

.book-image {
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    transform: scale(1.06);
  }
}

.book-title {
  font-variant: small-caps;
}
