@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

// Mixins
@import './mixins/flexbox.scss';
@import './mixins/query.scss';

// Animation
@import './animation/glitch.scss';

// Components
@import '../../components/Navbar/Navbar.scss';
@import '../../components/Footer/Footer.scss';
@import '../../components/BooksStories/BooksStories.scss';
@import '../../components/BooksStories/modules/Book.scss';
@import '../../pages/About/modules/AboutCard.scss';
@import '../../components/Reader/Reader.scss';
@import '../../components/Greet/Greet.scss';

// Pages
@import '../../pages/Store/StoreAuthors.scss';
@import '../../pages/Store/pages/Store.scss';
@import '../../pages/Lib/LibAuthors.scss';
@import '../../pages/Lib/pages/Lib.scss';
@import '../../pages/About/About.scss';
@import '../../pages/Home/Home.scss';

@font-face {
  font-family: Roboto;
  src: url('../../roboto/Roboto-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: $border-radius;
    background: $third;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: $border-radius;
    background: $primary;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(20, 20, 20);
  color: $primary;
}

.app {
  height: 100%;
  background-size: cover;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.fade {
  transition: 0.2s;
  opacity: 0;
}

.active-scale {
  background: $third;
  box-shadow: none !important;

  @include query(min, tablet) {
    transform: scale(1.04);
  }
}
