@import '../../assets/styles/mixins/flexbox.scss';
@import '../../assets/styles/mixins/query';

.book-list {
  @include flexbox(initial, initial, column, 20px);

  &__outer {
    @include flexbox(center, initial, row, 0);
    height: 40rem;

    overflow-y: scroll;
    overflow-x: hidden;

    padding-top: 2rem;
    margin-top: 12rem;

    &::-webkit-scrollbar {
      width: 0;
    }

    @include query(max, tablet) {
      margin-top: 8rem;
    }

    @include query(max, mobile) {
    }
  }
}
