@import '../../assets/styles/mixins/flexbox.scss';
@import '../../assets/styles/mixins/query.scss';

.book-list {
  @include flexbox(initial, initial, column, 20px);
  width: 90%;

  @include query(max, tablet) {
    width: 100%;
  }

  &__outer {
    @include flexbox(center, initial, row, 0);
    height: 40rem;
    width: 90%;

    overflow-y: scroll;
    overflow-x: hidden;

    padding-top: 2rem;
    margin-top: 12rem;

    &::-webkit-scrollbar {
      width: 0;
    }

    @include query(max, tablet) {
      margin-top: 8rem;
      width: 100%;
    }
  }
}
